html {
    text-align: center;
    font-weight: bold;
    color: white;
    background-image: url("images/math.jpg");
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%), url("images/math.jpg");
}

body {
	width: 80%;
	border-radius: 1em;
	padding: 2em 2em 4em 4em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	margin-top: 1em;
	margin-right:10%;
	margin-left:10%;
	color: #000;
	overflow: auto;
	display: block;
	background-color:#000;
	position:relative;
	border: 3px solid white;
	margin:auto;
}

